@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

body {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/61CTMaTl1tL.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {

    background-color: green;

    color: white;

    padding: 10px 25px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    display: block;

    margin: Left;

    padding-top: 10px;

    padding-right: 50px;

    padding-bottom: 10px;

    padding-left: 50px;
}